<div class="task-list">

@if (TaskItems != null)
{
    <ul class="list-group">
            @foreach (var task in TaskItems)
            {
                var cssClass = (SelectedItem != null && SelectedItem.Id == task.Id) ? 
                    "list-group-item d-flex justify-content-between align-items-start active" 
                    : "list-group-item d-flex justify-content-between align-items-start";

                <li class=@cssClass @onclick="async () => { if (AllowSelect) await SelectTask(task); }">
                    @task.Task
                    <button type="button" class="btn btn-danger" @onclick="() => RemoveTask(task)"><i class="bi bi-x-circle"></i></button>
                </li>
            }
    </ul>
}

</div>
